<top-nav></top-nav>

<div class="container naked-container">
	<div class="row">
		<div class="three columns">
			<div>
				<span class="exp-busqueda-section-top">
					<span>buscar</span>
				</span>
				<input type="text" placeholder="Búsqueda..." ng-model="vm.search.text"/>
			</div>
			<div class="exp-busqueda-section">
				<span class="exp-busqueda-section-top">
					<span>con datos</span>
				</span>
				<span
					class="exp-busqueda-link"
					ng-click="vm.search.has_national_data = !vm.search.has_national_data">
					<i ng-class="{
						'ion-android-checkbox-outline': vm.search.has_national_data,
						'ion-android-checkbox-outline-blank': !vm.search.has_national_data
					}"></i>
					<span>nacionales</span>
				</span>
				<span
					class="exp-busqueda-link"
					ng-click="vm.search.has_state_data = !vm.search.has_state_data">
					<i ng-class="{
						'ion-android-checkbox-outline': vm.search.has_state_data,
						'ion-android-checkbox-outline-blank': !vm.search.has_state_data
					}"></i>
					<span>estatales</span>
				</span>
				<span
					class="exp-busqueda-link"
					ng-click="vm.search.has_mun_data = !vm.search.has_mun_data">
					<i ng-class="{
						'ion-android-checkbox-outline': vm.search.has_mun_data,
						'ion-android-checkbox-outline-blank': !vm.search.has_mun_data
					}"></i>
					<span>municipales</span>
				</span>
			</div>
			<div>
				<span class="exp-busqueda-section-top">
					<span>entre fechas</span>
				</span>
				<rzslider class="custom-slider"
					rz-slider-model="vm.search.years.from"
				   	rz-slider-high="vm.search.years.to"
					rz-slider-options="vm.SLIDER_DATE_OPTIONS">
				</rzslider>
			</div>
			<div class="center">
				<button ng-click="vm.buscar()">Buscar</button>
			</div>
		</div>
		<div class="nine columns" ng-if="vm.search.httpStatus == 0 && vm.search.resultados.length > 0">
			<div class="row exp-resultado" ng-class="{'exp-odd': $odd}" ng-repeat="r in vm.search.resultados
			| limitTo: vm.pagination.items_per_page :
			vm.pagination.current_page * vm.pagination.items_per_page
			track by $index">
				<div class="one column">
					<span class="exp-rank" ng-bind="$index + 1 +
					vm.pagination.current_page * vm.pagination.items_per_page">
					</span>
				</div>
				<div class="eleven columns">
					<a ng-href="/#/datasets/{{r.id}}"
						ng-bind="r.nombre + ', ' + vm.formatFecha(r.fecha)"></a>
					<br/>
					<a ng-href="/#/estadisticas/{{r.estadistica_id}}">
						<span ng-bind="r.estadistica"></span>
					</a>
					<div class="row exp-footer">
						<div class="four columns">
							de: <a ng-href="/#/fuentes/{{r.fuente_id}}"
								ng-bind="r.fuente"></a>
						</div>
						<div class="four columns">
							por: <span ng-bind="r.contribuidor"></span>
						</div>
						<div class="four columns">
							subido: <span ng-bind="vm.formatFecha(r.fecha_upload)"></span>
						</div>
					</div>
				</div>
			</div>
			<pagination-view pagination="vm.pagination"></pagination-view>
		</div>
		<div class="nine columns" ng-if="vm.search.httpStatus == 0 && vm.search.resultados.length == 0">
			No se encontró ningún resultado...
		</div>
	</div>
</div>

<!-- Menu superior
<div id="mid-banner">
	<div class="container">
		<span id="mid-banner-desc">
			<span class="exp-link" ng-click="vm.selected_grupo = null;
			vm.selected_subgrupo = null; vm.selected_estadistica = null;
			vm.selected_dataset = null; vm.display = 'lists'">
				politiquer.io
			</span>
			<span ng-if="vm.selected_grupo">/
				<span ng-bind="vm.selected_grupo.nombre"
					ng-click="vm.selected_subgrupo = null; vm.display = 'lists';
					vm.selected_estadistica = null; vm.selected_dataset = null;"
					class="exp-link">
				</span>
			</span>
			<span ng-if="vm.selected_subgrupo">/
				<span
					ng-bind="vm.selected_subgrupo.nombre"
					ng-click="vm.selected_estadistica = null;
					vm.selected_dataset = null; vm.display = 'lists'"
					class="exp-link">
				</span>
			</span>
			<span ng-if="vm.selected_estadistica">/
				<span
					ng-bind="vm.selected_estadistica.nombre"
					ng-click="vm.selected_dataset = null; vm.display = 'lists'"
					class="exp-link">
				</span>
			<span ng-if="vm.selected_dataset"> /
				<span ng-bind="vm.selected_dataset.nombre"></span>
			</span>
		</span>
		<div>
			<span class="exp-link" ng-click="vm.display = 'datasets'">
				Datasets seleccionados:
			</span>
			<span ng-repeat="ds in vm.datasets">
				<a href="" class="ds-remove-link" ng-click="vm.removeItem(ds, vm.datasets)">
					<i class="ion-close"></i>
				</a>
				<span ng-bind="ds.nombre"></span>
				<span ng-if="!$last">,</span>
			</span>
		</div>
	</div>
</div>

<!-- Búsqueda
<div class="container" ng-if="vm.display == 'results' || vm.display == 'lists'">
	<input ng-if="!vm.selected_dataset"
		type="text" style="width:100%; margin-top:20px;"
		placeholder="filtra los resultados o presiona enter para buscar una estadística..."
		ng-model="vm.filter" ng-keydown="vm.filterKeypress($event)"/>
</div>

<!-- Resultados
<div class="container" ng-if="vm.display == 'results'">
	<div ng-repeat="estadistica in vm.results | filter: vm.filter"
		ng-click="vm.set(estadistica, 'estadistica', 'datasets');"
		class="exp-item">
		<div ng-bind="estadistica.nombre"></div>
		<span ng-repeat="keyword in estadistica.keywords" class="exp-keyword" ng-bind="keyword"></span>
	</div>
</div>

<!-- Main container
<div class="container" ng-if="vm.display == 'lists'">

	<div ng-repeat="grupo in vm.grupos | filter: vm.filter | orderBy: 'nombre'
		| limitTo: vm.pagination.items_per_page :
			vm.pagination.current_page * vm.pagination.items_per_page
		track by $index"
		ng-if="!vm.selected_grupo && !vm.selected_estadistica"
		ng-click="vm.set(grupo, 'grupo', 'subgrupos')"
		class="exp-item">
		<i class="{{grupo.icono}}"></i>
		<span ng-bind="grupo.nombre"></span>
	</div>

	<span ng-if="vm.selected_grupo && !vm.selected_subgrupo && !vm.selected_estadistica">
		<div ng-click="vm.back('grupos')" class="exp-item">
			<i class="ion-arrow-left-b"></i> Regresar
		</div>
		<div ng-repeat="subgrupo in vm.selected_grupo.subgrupos | filter: vm.filter
			| limitTo: vm.pagination.items_per_page :
				vm.pagination.current_page * vm.pagination.items_per_page
			track by $index"
			ng-click="vm.set(subgrupo, 'subgrupo', 'estadisticas')"
			class="exp-item">
			<span ng-bind="subgrupo.nombre"></span>
		</div>
	</span>

	<span ng-if="vm.selected_subgrupo && !vm.selected_estadistica">
		<div ng-click="vm.back('subgrupos')" class="exp-item">
			<i class="ion-arrow-left-b"></i> Regresar
		</div>
		<div ng-repeat="estadistica in vm.selected_subgrupo.estadisticas | filter: vm.filter
			| limitTo: vm.pagination.items_per_page :
				vm.pagination.current_page * vm.pagination.items_per_page
			track by $index"
			ng-click="vm.set(estadistica, 'estadistica', 'datasets')"
			class="exp-item">
			<div ng-bind="estadistica.nombre"></div>
			<span ng-repeat="keyword in estadistica.keywords" class="exp-keyword" ng-bind="keyword"></span>
		</div>
	</span>

	<span ng-if="vm.selected_estadistica && !vm.selected_dataset">
		<div ng-click="vm.back('estadisticas')" class="exp-item">
			<i class="ion-arrow-left-b"></i> Regresar
		</div>
		<div ng-repeat="dataset in vm.selected_estadistica.datasets | filter: vm.filter
			| limitTo: vm.pagination.items_per_page :
				vm.pagination.current_page * vm.pagination.items_per_page
			track by $index"
			ng-click="vm.toggleDataset($event, dataset)"
			class="exp-item">
			<span class="ds-select-btn">
				<i class="font-secondary" ng-class="{
					'ion-android-star-outline': !dataset.$$selected,
					'ion-android-star': dataset.$$selected
				}"></i>
			</span>
			<span ng-bind="dataset.fuente"></span>
			<i class="ion-arrow-right-c"></i>
			<span ng-bind="dataset.nombre"></span>,
			<span ng-bind="dataset.$$fecha"></span>
			<span ng-if="dataset.n_nacionales > 0" class="exp-keyword">nacionales</span>
			<span ng-if="dataset.n_estatales > 0" class="exp-keyword">estatales</span>
			<span ng-if="dataset.n_municipales > 0" class="exp-keyword">municipales</span>
		</div>
	</span>
</div>

<div class="container" ng-if="vm.display == 'datasets'">
	<dataset-view
		estados="vm.estados"
		municipios="vm.municipios"
		datasets="vm.datasets">
	</dataset-view>
</div>

<div style="margin-top:10px;"></div>

<pagination-view
	ng-if="vm.display == 'lists' && !vm.selected_dataset"
	pagination="vm.pagination">
</pagination-view>

<div style="margin-top:40px;"></div>-->
