<footer id="bottom">
	<div class="container">
		<div class="row">
			<div class="six columns center">
				<img id="bottom-logo" src="static/images/politiquerio_light.png"/><br/>
				<a class="bottom-link" href="">Manifesto</a> |
				<a class="bottom-link" href="">Filosofía</a>
			</div>
			<div class="three columns">
				<a class="bottom-link" href=""><i class="ion-help"></i> Acerca</a><br/>
				<a class="bottom-link" href=""><i class="ion-document-text"></i> Blog</a><br/>
				<a class="bottom-link" href=""><i class="ion-heart"></i> Contribuir</a>
			</div>
			<div class="three columns">
				<a class="bottom-link" href=""><i class="ion-social-twitter"></i> twitter</a><br/>
				<a class="bottom-link" href="https://github.com/npanalytica/politiquerio">
					<i class="ion-social-github"></i> github
				</a>
			</div>
		</div>
	</div>
</footer>
