<footer id="footer">
	<div class="container">
		<div class="row" style="margin-top:10px;">
			<img id="footer-logo" src="static/images/politiquerio_light.png"/>
			<a class="footer-link" href=""><i class="ion-flag"></i> manifesto</a> |
			<a class="footer-link" href=""><i class="ion-star"></i> filosofía</a> |
			<a class="footer-link" href=""><i class="ion-help"></i> acerca</a> |
			<a class="footer-link" href=""><i class="ion-document-text"></i> blog</a> |
			<a class="footer-link" href=""><i class="ion-heart"></i> contribuir</a> |
			<a class="footer-link" href=""><i class="ion-social-twitter"></i> twitter</a> |
			<a class="footer-link" href="https://github.com/npanalytica/politiquerio">
				<i class="ion-social-github"></i> github
			</a>
		</div>
	</div>
</footer>
