<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="three columns">
				<span class="footer-title border-primary"><i class="ion-earth"></i> nosotros</span>
				<a class="footer-link" href="/#/docs/about">acerca</a>
				<a class="footer-link" href="/#/docs/filosofia">visión</a>
				<a class="footer-link" href="/#/docs/manifesto">manifesto</a>
			</div>
			<div class="three columns">
				<span class="footer-title border-secondary"><i class="ion-help-circled"></i> ayuda</span>
				<a class="footer-link" href="/#/docs/about">api</a>
			</div>
			<div class="three columns">
				<span class="footer-title border-1"><i class="ion-heart"></i> contribuye</span>
				<a class="footer-link" href="/#/docs/share">comparte datos</a>
				<a class="footer-link" href="https://github.com/npanalytica/politiquerio">programa</a>
			</div>
			<div class="three columns center">
				<span class="footer-title border-2"><i class="ion-person-stalker"></i> social</span>
				<a class="footer-social" href=""><i class="ion-social-twitter"></i></a>
				<a class="footer-social" href="https://github.com/npanalytica/politiquerio">
					<i class="ion-social-github"></i></a>
				<a class="footer-social" href=""><i class="ion-social-facebook"></i></a>
			</div>
		</div>
		<div id="footer-bottom">
			politiquer.io 2017. Solo tú puedes prevenir los fuegos forestales.
		</div>
	</div>
</footer>
