@import "colors";

#api-menu {
}

#api-content {
}

.api-section {
	margin-top: 5px;
	padding-top: 5px;
	margin-top: 1px solid $color-superlight;
}

.api-title {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14pt;
	color: $color-secondary;
}

.api-desc {
	display: block;
	margin-bottom: 15px;
	font-size: 12pt;
	color: $color-hard;
}

.api-requests {
	display: block;
	font-weight: bold;
	font-size: 12pt;
	margin-bottom: 10px;
}

.api-code {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 10px;
	font-size: 12pt;
	background-color: $color-superlight;
	border: 1px solid $color-soft;
}

.api-code-method {
	font-weight: bold;
}

.api-code-run {
	display: block;
	background-color: $color-primary;
	color: #fff;
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: pointer;
	padding: 5px;
	float: right;
	margin-right: 5px;
}

.api-code-run:hover {
	background-color: $color-secondary;
}

.api-result {
	max-height: 100px;
	overflow: scroll;
}
