@import "colors";

#api-menu {
	margin-top: 65px;
}

#api-menu > div {
	margin-top: 5px;
}

.api-section {
	margin-top: 5px;
	padding-top: 5px;
	margin-top: 1px solid $color-superlight;
}

.api-title {
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 18pt;
	color: $color-secondary;
}

.api-desc {
	display: block;
	margin-bottom: 15px;
	font-size: 12pt;
	color: $color-hard;
}

.api-requests {
	display: block;
	font-weight: bold;
	font-size: 10pt;
	margin-bottom: 10px;
}

.api-request {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid $color-medium;
}

.api-request-description {
	margin-top: 10px;
	font-style: italic;
}

.api-table-header {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid $color-superlight;
	font-weight: bold;
}

.api-code {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 10px;
	font-size: 12pt;
	background-color: $color-superlight;
	border: 1px solid $color-soft;
}

.api-code-method {
	font-weight: bold;
}

.api-code-run {
	display: block;
	background-color: $color-primary;
	color: #fff;
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: pointer;
	padding: 5px;
	float: right;
	margin-right: 5px;
}

.api-code-run:hover {
	background-color: $color-secondary;
}

.api-result {
	max-height: 100px;
	overflow: scroll;
}
