$color-superlight: #e1e1e1;
$color-verylight: #ebebeb;
$color-light: #d1d1d1;
$color-medium: #9Fa9b3;
$color-dark: #1A1F25;
$color-soft: #777;
$color-hard: #383c44;

$color-primary: #4679b2;
$color-secondary: #d1495b;

$color-font-dark: #4b4b4b;
