@import "colors";

.exp-busqueda-section-top {
	display: block;
	width: 100%;
	text-align: center;
	color: $color-soft;
	font-weight: bold;
	font-size: 8pt;
	border-bottom: 1px solid $color-light;
	line-height: 0.1em;
	margin: 10px 0 10px;
}

.exp-busqueda-section-top > span {
	background-color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}

.exp-busqueda-link {
	display: block;
	padding: 2px;
	cursor: pointer;
	color: $color-soft;
}

.exp-resultado {
	margin-bottom: 7px;
	padding-bottom: 7px;
}

.exp-odd {
	background-color: $color-light;
}

.exp-rank {
	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
	color: #fff;
	background-color: $color-secondary;
}

.exp-footer {
	font-size: 9pt;
}

/*
.exp-link {
	cursor: pointer;
}

.exp-link:hover {
	text-decoration: underline;
}

.exp-item {
	cursor: pointer;
	padding: 5px;
	color: $color-soft;
	font-size: 13pt;
	border-bottom: 1px solid $color-light;
}

.exp-item:hover {

}

.exp-keyword {
	padding: 3px;
	background-color: $color-superlight;
	border: 1px solid $color-light;
	color: $color-primary;
	font-size: 8pt;
	margin-right: 10px;
	border-radius: 5px;
}*/
