@import "colors";

.explorador-header {
	font-size: 22pt;
	color: $color-primary;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 1px solid $color-light;
}

.explorador-header > a {
	display: block;
	font-size: 9pt;
}

.explorador-lista-item {
	color: #5e5e5e;
	display: block;
	padding: 5px 0px 5px 20px;
}

.explorador-lista-item:hover {
	color: #5e5e5e;
}

.explorador-lista-item-even { background-color: #dbdbdb; }

.explorador-badge {
	font-size: 8pt;
	padding: 1px 6px 1px 6px;
	color: #fff;
	background-color: #79ACE5;//$color-secondary;
	border-radius: 8px;
}

.dataset-menu {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	background-color: $color-primary;
}

.dataset-menu-btn {
	float: left;
	color: #fff;
	cursor: pointer;
	padding: 10px 20px 10px 20px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.dataset-menu-btn > i {
	margin-right: 5px;
}

.dataset-menu-btn-active {
	background-color: #fff;
	color: $color-primary;
	border-color: $color-primary;
}

.exp-busqueda-section-top {
	display: block;
	width: 100%;
	text-align: center;
	color: $color-soft;
	font-weight: bold;
	font-size: 8pt;
	border-bottom: 1px solid $color-light;
	line-height: 0.1em;
	margin: 10px 0 10px;
}

.exp-busqueda-section-top > span {
	background-color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}

.exp-busqueda-link {
	display: block;
	padding: 2px;
	cursor: pointer;
	color: $color-soft;
}

.exp-resultado {
	margin-bottom: 7px;
	padding-bottom: 7px;
}

.exp-odd {
	background-color: $color-light;
}

.exp-rank {
	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
	color: #fff;
	background-color: $color-secondary;
}

.exp-footer {
	font-size: 9pt;
}

/*
.exp-link {
	cursor: pointer;
}

.exp-link:hover {
	text-decoration: underline;
}

.exp-item {
	cursor: pointer;
	padding: 5px;
	color: $color-soft;
	font-size: 13pt;
	border-bottom: 1px solid $color-light;
}

.exp-item:hover {

}

.exp-keyword {
	padding: 3px;
	background-color: $color-superlight;
	border: 1px solid $color-light;
	color: $color-primary;
	font-size: 8pt;
	margin-right: 10px;
	border-radius: 5px;
}*/
