@import "colors";

#mid-banner {
	margin-top: 20px;
	background-color: $color-primary;
	color: #fff;
	padding: 40px;
	width: 100%;
	box-sizing: border-box;
}

#mid-banner-title {
	display: block;
	text-align: center;
	font-size: 24pt;
}

#mid-banner-desc {
	display: block;
	margin-top: 10px;
	font-size: 12pt;
}

#mid-banner-desc > a {
	color: #fff;
	text-decoration: underline;
}

#cuenta {
	background-color: $color-superlight;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

#landing-explore {
	margin-top: 30px;
	font-size: 13pt;
}

#landing-explore-input {
	width: 100%;
	margin-top: 20px;
}

#website-help-title {
	width: 100%;
	border-top: 1px solid $color-light;
	padding-top: 15px;
	margin-top: 15px;
	margin-bottom: 20px;
	font-size: 16pt;
	color: $color-hard;
	text-align: center;
}

.website-help {
	cursor: pointer;
	background-color: #fff;
	color: $color-soft;
	text-align: center;
}

.website-help:hover {
	color: $color-soft !important;
}

.website-help-icon {
	display: block;
	text-align: center;
	background-color: #fff;
	color: $color-primary;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $color-light;
}

.website-help-icon > i {
	font-size: 40pt;
}
