@import "colors";

#navbar {
	margin-top: 60px;
}

#logo {
	height: 35px;
}

#navbar-items {
	float: right;

}

#navbar-items > a {
	font-size: 13pt;
	color: $color-hard;
	margin-left: 10px;
	text-decoration: none;
}

#navbar-items > a:hover {
	color: $color-primary;
}

#mid-banner {
	margin-top: 20px;
	background-color: $color-primary;
	color: #fff;
	padding: 30px;
	width: 100%;
	box-sizing: border-box;
}

#mid-banner-title {
	display: block;
	text-align: center;
	font-size: 22pt;
}

#mid-banner-desc {
	font-size: 14pt;
}

#mid-banner-desc > a {
	color: #fff;
	text-decoration: underline;
}

#cuenta {
	background-color: $color-superlight;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

#landing-explore {
	margin-top: 30px;
	font-size: 13pt;
}

#landing-explore-input {
	width: 100%;
	margin-top: 20px;
}

#bottom {
	background-color: $color-hard;
	border-top: 1px solid $color-superlight;
	margin-top: 10px;
	padding: 20px;
	bottom: 0;
	font-size: 12pt;
	position: absolute;
	bottom: 0px;
	width: 100%;
	box-sizing: border-box;
}

#bottom-logo {
	height: 30px;
}

.bottom-link {
	color: $color-superlight;
}

.bottom-link:hover {
	color: $color-primary;
}
