@import "colors";

.pagination-btn {
	cursor: pointer;
	display: inline-block;
	color: $color-font-dark;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	padding-top: 2px;
	border: 1px solid #fff;
}

.pagination-btn-selected {
	border-color: $color-primary;
}
