@import "colors";

.search-result-header {
	margin-top: 10px;
	font-size: 18pt;
}

.search-other-headers {
	display: block;
	margin-bottom: 10px;
	font-size: 11pt;
}

.search-other-results {
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 10pt;
}

.search-viewport {
	overflow: hidden;
}

.search-viewport-small {
	height: 400px;
	transition: height 0.2s;
}

.search-viewport-large {
	height: 622px;
	transition: height 0.2s;
}

.search-result-table {
	font-size: 10pt;
}

.search-result-table > tr {
	margin: 0px !important;
	padding: 0px !important;
}

.search-result-table-cell {
	margin: 0px !important;
	padding: 0px !important;
	text-align: center;
}

.search-result-table-cell > span {
	display: inline-block;
	padding: 10px 10px 5px 10px;
	text-align: center;
}

.search-result-table-cell-header {
	background-color: $color-hard;
	color: #fff;
}

.search-result-table-cell-value {
	background-color: $color-superlight;
	color: $color-hard;
}

.search-result-table-cell-ball {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 10px;
}
