@import "colors";

.search-result-header {
	margin-top: 10px;
	margin-bottom: 20px;
}

.search-other-headers {
	display: block;
	margin-bottom: 10px;
	font-size: 11pt;
}

.search-other-results {
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 10pt;
}
