@import "colors";

@import "api";
@import "ds_view";
@import "explorador";
@import "footer";
@import "landing";
@import "mapa";
@import "pagination";
@import "positioning";
@import "search_bar";
@import "top_nav";
@import "typography";

@font-face {
  font-family: 'Oxygen';
  src: url('/static/fonts/Oxygen-Regular.ttf');
}

html {
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Oxygen';
}

#ng-view {
	min-height:100%;
}

a {
	text-decoration: none;
	color: $color-primary;
}

a:hover {
	color: $color-secondary;
}
