#api-menu {
  margin-top: 65px; }

#api-menu > div {
  margin-top: 5px; }

.api-section {
  margin-top: 5px;
  padding-top: 5px;
  margin-top: 1px solid #e1e1e1; }

.api-title {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 18pt;
  color: #d1495b; }

.api-desc {
  display: block;
  margin-bottom: 15px;
  font-size: 12pt;
  color: #383c44; }

.api-requests {
  display: block;
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 10px; }

.api-request {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #9Fa9b3; }

.api-request-description {
  margin-top: 10px;
  font-style: italic; }

.api-table-header {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
  font-weight: bold; }

.api-code {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  font-size: 12pt;
  background-color: #e1e1e1;
  border: 1px solid #777; }

.api-code-method {
  font-weight: bold; }

.api-code-run {
  display: block;
  background-color: #4679b2;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  float: right;
  margin-right: 5px; }

.api-code-run:hover {
  background-color: #d1495b; }

.api-result {
  max-height: 100px;
  overflow: scroll; }

.doc-title {
  text-align: center;
  font-size: 20pt;
  color: #4679b2; }

.doc-subtitle {
  text-align: center;
  font-size: 13pt;
  color: #d1495b;
  margin-top: 10px;
  font-style: italic; }

.doc-segment {
  margin-top: 15px;
  font-size: 13pt;
  color: #5e5e5e; }

.doc-header {
  display: block;
  color: #d1495b;
  text-align: center;
  font-size: 15pt;
  padding-top: 25px;
  padding-bottom: 15px; }

.doc-image {
  margin-top: 20px;
  text-align: center; }

.doc-image > img {
  width: 600px; }

.doc-image-subtitle {
  color: #777;
  margin-top: 10px;
  text-align: center; }

.doc-footer {
  font-size: 11pt;
  color: #777;
  margin-top: 30px;
  margin-bottom: 30px; }

.ds-link {
  color: #fff; }

.ds-link:hover {
  color: #d1495b; }

.ds-table {
  margin-top: 10px;
  width: 100%; }

.ds-header-row {
  border-bottom: 3px solid #9Fa9b3; }

.ds-header {
  padding: 0px !important;
  margin: 0px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  background-color: #1A1F25;
  color: #e1e1e1; }

.ds-header-label {
  display: flex;
  margin-left: 5px;
  align-items: center !important;
  height: 30px; }

.ds-remove-link {
  color: #fff; }

.ds-remove-link:hover {
  color: #d1495b; }

.ds-select-btn {
  padding: 5px;
  cursor: pointer; }

.ds-header-map {
  cursor: pointer;
  align-self: flex-start;
  color: #fff;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  padding-top: 2px;
  margin-right: 5px;
  text-align: center; }

.ds-header-map:hover {
  color: #d1495b; }

.ds-row {
  padding: 10px !important; }

.ds-row-odd {
  background-color: #ebebeb; }

.explorador-header {
  font-size: 22pt;
  color: #4679b2;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #d1d1d1; }

.explorador-header > a {
  display: block;
  font-size: 9pt; }

.explorador-lista-item {
  color: #5e5e5e;
  display: block;
  padding: 5px 0px 5px 20px; }

.explorador-lista-item:hover {
  color: #5e5e5e; }

.explorador-lista-item-even {
  background-color: #dbdbdb; }

.explorador-badge {
  font-size: 8pt;
  padding: 1px 6px 1px 6px;
  color: #fff;
  background-color: #79ACE5;
  border-radius: 8px; }

.dataset-menu {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #4679b2; }

.dataset-menu-btn {
  float: left;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }

.dataset-menu-btn > i {
  margin-right: 5px; }

.dataset-menu-btn-active {
  background-color: #fff;
  color: #4679b2;
  border-color: #4679b2; }

.exp-busqueda-section-top {
  display: block;
  width: 100%;
  text-align: center;
  color: #777;
  font-weight: bold;
  font-size: 8pt;
  border-bottom: 1px solid #d1d1d1;
  line-height: 0.1em;
  margin: 10px 0 10px; }

.exp-busqueda-section-top > span {
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px; }

.exp-busqueda-link {
  display: block;
  padding: 2px;
  cursor: pointer;
  color: #777; }

.exp-resultado {
  margin-bottom: 7px;
  padding-bottom: 7px; }

.exp-odd {
  background-color: #d1d1d1; }

.exp-rank {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #fff;
  background-color: #d1495b; }

.exp-footer {
  font-size: 9pt; }

/*
.exp-link {
	cursor: pointer;
}

.exp-link:hover {
	text-decoration: underline;
}

.exp-item {
	cursor: pointer;
	padding: 5px;
	color: $color-soft;
	font-size: 13pt;
	border-bottom: 1px solid $color-light;
}

.exp-item:hover {

}

.exp-keyword {
	padding: 3px;
	background-color: $color-superlight;
	border: 1px solid $color-light;
	color: $color-primary;
	font-size: 8pt;
	margin-right: 10px;
	border-radius: 5px;
}*/
#footer {
  height: 200px;
  background-color: #383c44;
  color: #fff;
  border-top: 1px solid #e1e1e1;
  margin-top: 10px;
  font-size: 12pt;
  width: 100%;
  bottom: 0; }

#footer > .container {
  position: relative;
  padding: 30px;
  height: 100%; }

#footer-bottom {
  color: #6b6f77;
  font-size: 10pt;
  position: absolute;
  bottom: 0;
  padding: 5px;
  width: 100%;
  text-align: center; }

.footer-title {
  color: #fff;
  display: block;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid; }

.border-primary {
  border-color: #4679b2; }

.border-secondary {
  border-color: #d1495b; }

.border-1 {
  border-color: #9cec5b; }

.border-2 {
  border-color: #f06543; }

.footer-link {
  color: #fff;
  font-size: 11pt;
  display: block;
  margin-top: 5px; }

.footer-link:hover {
  color: #4679b2; }

.footer-social {
  color: #fff;
  font-size: 16pt;
  margin-right: 10px; }

.footer-social:hover {
  color: #4679b2; }

#mid-banner {
  margin-top: 20px;
  background-color: #4679b2;
  color: #fff;
  padding: 40px;
  width: 100%;
  box-sizing: border-box; }

#mid-banner-title {
  display: block;
  text-align: center;
  font-size: 24pt; }

#mid-banner-desc {
  display: block;
  margin-top: 10px;
  font-size: 12pt; }

#mid-banner-desc > a {
  color: #fff;
  text-decoration: underline; }

#cuenta {
  background-color: #e1e1e1;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; }

#landing-explore {
  margin-top: 30px;
  font-size: 13pt; }

#landing-explore-input {
  width: 100%;
  margin-top: 20px; }

#website-help-title {
  width: 100%;
  border-top: 1px solid #d1d1d1;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 16pt;
  color: #383c44;
  text-align: center; }

.website-help {
  cursor: pointer;
  background-color: #fff;
  color: #777;
  text-align: center; }

.website-help:hover {
  color: #777 !important; }

.website-help-icon {
  display: block;
  text-align: center;
  background-color: #fff;
  color: #4679b2;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d1d1d1; }

.website-help-icon > i {
  font-size: 40pt; }

.loader {
  background-color: #e1e1e1;
  float: left;
  height: 60px;
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 5px; }

.loader-text {
  margin-left: 10px;
  font-size: 12pt;
  color: #4679b2;
  display: inline-block; }

.loader-bars,
.loader-bars:before,
.loader-bars:after {
  background: #4679b2;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 8px;
  height: 20px; }

.loader-bars {
  color: #4679b2;
  text-indent: -9999em;
  margin: 25px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader-bars:before,
.loader-bars:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader-bars:before {
  left: -1.0em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader-bars:after {
  left: 1.0em; }

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 20px; }
  40% {
    box-shadow: 0 -2em;
    height: 30px; } }
@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 20px; }
  40% {
    box-shadow: 0 -2em;
    height: 30px; } }
.x-badge {
  background-color: #ee565F;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  display: inline-block;
  min-width: 30px;
  padding-top: 1px;
  text-align: center;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  font-weight: bold; }

.nospacing {
  padding: 0px !important;
  margin: 0px !important; }

.estado-unfocused {
  opacity: 0.4 !important; }

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  font: 14px sans-serif;
  color: #fff;
  background: black;
  border: 0px;
  border-radius: 8px;
  pointer-events: none; }

.mapa {
  padding-top: 10px;
  padding-left: 10px;
  background-color: #ccdef2;
  height: 612px; }

.estado {
  cursor: pointer; }

.estado-border {
  fill: none;
  stroke: #1A1F25;
  stroke-width: 0.6;
  stroke-linejoin: round; }

.estado-border-hover {
  fill: none;
  stroke: #1A1F25;
  stroke-width: 10;
  stroke-linejoin: round; }

.municipio-border {
  fill: none;
  stroke: #000;
  stroke-width: 0.2;
  stroke-linejoin: round; }

.pagination-btn {
  cursor: pointer;
  display: inline-block;
  color: #4b4b4b;
  width: 26px;
  height: 26px;
  padding-top: 2px;
  border-radius: 26px;
  font-size: 10pt;
  box-sizing: border-box; }

.pagination-btn-selected {
  background-color: #4679b2;
  color: #fff; }

.margin-top-md {
  margin-top: 10px; }

.center {
  text-align: center; }

#respuesta-display {
  padding: 15px;
  border-radius: 5px;
  background-color: #ebebeb;
  border: 1px solid #d1d1d1;
  font-size: 11pt; }

#respuesta-display-info {
  font-size: 10pt;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #d1d1d1; }

.respuesta-tabla {
  margin-left: 20px;
  font-size: 11pt !important; }

.respuesta-celda {
  padding: 8px !important;
  margin: 8px !important; }

#respuesta-meta {
  margin-top: 15px;
  padding-top: 10px;
  padding-left: 5px;
  border-radius: 5px;
  border-top: 1px solid #d1d1d1;
  font-size: 11pt; }

.respuesta-meta-link {
  cursor: pointer;
  margin-right: 5px; }

.respuesta-meta-link-nonactive {
  color: #777; }

.respuesta-meta-link-nonactive:hover {
  color: #4679b2; }

.respuesta-meta-link-active {
  color: #d1495b; }

#respuesta-meta-others {
  margin-top: 10px;
  font-size: 9pt; }

/* TODO: MOVEME */
.respuesta-btn-circulo {
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  padding-top: 2px;
  font-size: 8pt;
  border-radius: 15px;
  background-color: #d1495b;
  text-align: center;
  color: #fff; }

.no-spacing {
  padding: 0px !important;
  margin: 0px !important; }

#table-view-options {
  font-size: 10pt;
  margin-bottom: 5px;
  margin-left: 5px; }

#table-view-tabla {
  width: 100%;
  font-size: 10pt;
  margin: 0px;
  padding: 0px; }

.table-view-celda {
  height: 22px;
  padding: 6px;
  overflow: hidden;
  text-overflow: ellipsis; }

.table-view-odd {
  background: #d1d1d1; }

.table-view-link {
  color: #4679b2;
  cursor: pointer; }

.table-view-link:hover {
  color: #d1495b; }

/*
.search-result-header {
	margin-top: 10px;
	font-size: 18pt;
}

.search-other-headers {
	display: block;
	margin-bottom: 10px;
	font-size: 11pt;
}

.search-other-results {
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 10pt;
}

.search-viewport {
	overflow: hidden;
}

.search-viewport-small {
	height: 400px;
	transition: height 0.2s;
}

.search-viewport-large {
	height: 622px;
	transition: height 0.2s;
}

.search-result-table {
	font-size: 10pt;
}

.search-result-table > tr {
	margin: 0px !important;
	padding: 0px !important;
}

.search-result-table-cell {
	margin: 0px !important;
	padding: 0px !important;
	text-align: center;
}

.search-result-table-cell > span {
	display: inline-block;
	padding: 10px 10px 5px 10px;
	text-align: center;
}

.search-result-table-cell-header {
	background-color: $color-hard;
	color: #fff;
}

.search-result-table-cell-value {
	background-color: $color-superlight;
	color: $color-hard;
}

.search-result-table-cell-ball {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 10px;
}*/
.custom-slider.rzslider .rz-bar {
  background: #d1d1d1;
  height: 2px; }

.custom-slider.rzslider .rz-selection {
  background: #4679b2; }

.custom-slider.rzslider .rz-pointer {
  width: 4px;
  height: 4px;
  border: 3px solid #4679b2;
  top: auto;
  /* to remove the default positioning */
  bottom: -2px;
  background-color: #fff; }

.custom-slider.rzslider .rz-pointer:after {
  display: none; }

.custom-slider.rzslider .rz-bubble {
  bottom: 14px; }

.custom-slider.rzslider .rz-limit {
  color: #777; }

.custom-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px; }

.custom-slider.rzslider .rz-tick.rz-selected {
  background: orange; }

#navbar {
  box-sizing: border-box;
  padding-top: 60px; }

#navbar-logo {
  height: 30px; }

#navbar-items {
  float: right; }

#navbar-items > a {
  font-size: 13pt;
  color: #383c44;
  margin-left: 10px;
  text-decoration: none; }

#navbar-items > a:hover {
  color: #4679b2; }

.font-primary {
  color: #4679b2; }

.font-secondary {
  color: #d1495b; }

.font-soft {
  color: #777; }

.link {
  color: #383c44;
  text-decoration: underline; }

.link:hover {
  color: #4679b2; }

.font-afterthought {
  color: #777;
  font-size: 10pt; }

@font-face {
  font-family: 'Oxygen';
  src: url("/static/fonts/Oxygen-Regular.ttf"); }
html {
  height: 100%;
  margin: 0; }

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 211px;
  box-sizing: border-box;
  font-family: 'Oxygen'; }

#ng-view {
  min-height: 100%; }

.naked-container {
  padding-top: 10px; }

a {
  text-decoration: none;
  color: #4679b2; }

a:hover {
  color: #d1495b; }

/*# sourceMappingURL=style.css.map */
