.api-section {
  margin-top: 5px;
  padding-top: 5px;
  margin-top: 1px solid #e1e1e1; }

.api-title {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14pt;
  color: #d1495b; }

.api-desc {
  display: block;
  margin-bottom: 15px;
  font-size: 12pt;
  color: #383c44; }

.api-requests {
  display: block;
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 10px; }

.api-code {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  font-size: 12pt;
  background-color: #e1e1e1;
  border: 1px solid #777; }

.api-code-method {
  font-weight: bold; }

.api-code-run {
  display: block;
  background-color: #4679B2;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  float: right;
  margin-right: 5px; }

.api-code-run:hover {
  background-color: #d1495b; }

.api-result {
  max-height: 100px;
  overflow: scroll; }

#footer {
  background-color: #383c44;
  color: #fff;
  border-top: 1px solid #e1e1e1;
  margin-top: 10px;
  padding: 10px;
  bottom: 0;
  font-size: 12pt;
  width: 100%;
  height: 60px;
  box-sizing: border-box; }

#footer-logo {
  display: block;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  height: 17px; }

.footer-link {
  color: #e1e1e1;
  padding-right: 10px;
  padding-left: 10px; }

.footer-link > i {
  margin-right: 2px; }

.footer-link:hover {
  color: #4679B2; }

#mid-banner {
  margin-top: 20px;
  background-color: #4679B2;
  color: #fff;
  padding: 30px;
  width: 100%;
  box-sizing: border-box; }

#mid-banner-title {
  display: block;
  text-align: center;
  font-size: 24pt; }

#mid-banner-desc {
  display: block;
  margin-top: 10px;
  font-size: 12pt; }

#mid-banner-desc > a {
  color: #fff;
  text-decoration: underline; }

#cuenta {
  background-color: #e1e1e1;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; }

#landing-explore {
  margin-top: 30px;
  font-size: 13pt; }

#landing-explore-input {
  width: 100%;
  margin-top: 20px; }

.website-contact {
  padding: 10px;
  display: block;
  background-color: #383c44; }

.website-notes-title {
  font-size: 16pt;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #4679B2; }

.x-badge {
  background-color: #ee565F;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  display: inline-block;
  min-width: 30px;
  padding-top: 1px;
  text-align: center;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  font-weight: bold; }

.nospacing {
  padding: 0px !important;
  margin: 0px !important; }

.estado-unfocused {
  opacity: 0.4 !important; }

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  font: 14px sans-serif;
  color: #fff;
  background: black;
  border: 0px;
  border-radius: 8px;
  pointer-events: none; }

.mapa-invisible {
  opacity: 0;
  transition: opacity 0.4s ease-in-out; }

.mapa {
  opacity: 1;
  transition: opacity 0.4s ease-in-out; }

.estado {
  cursor: pointer; }

.estado-border {
  fill: none;
  stroke: #000;
  stroke-width: 0.3;
  stroke-linejoin: round; }

.estado-border-hover {
  fill: none;
  stroke: #000;
  stroke-width: 10;
  stroke-linejoin: round; }

.municipio-border {
  fill: none;
  stroke: #000;
  stroke-width: 0.1;
  stroke-linejoin: round; }

.margin-top-md {
  margin-top: 10px; }

.center {
  text-align: center; }

.search-result-header {
  margin-top: 10px;
  font-size: 18pt; }

.search-other-headers {
  display: block;
  margin-bottom: 10px;
  font-size: 11pt; }

.search-other-results {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 10pt; }

.search-result-table {
  font-size: 10pt; }

.search-result-table > tr {
  margin: 0px !important;
  padding: 0px !important; }

.search-result-table-cell {
  margin: 0px !important;
  padding: 0px !important;
  text-align: center; }

.search-result-table-cell > span {
  display: inline-block;
  padding: 10px 10px 5px 10px;
  text-align: center; }

.search-result-table-cell-header {
  background-color: #383c44;
  color: #fff; }

.search-result-table-cell-value {
  background-color: #e1e1e1;
  color: #383c44; }

.search-result-table-cell-ball {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px; }

#navbar {
  box-sizing: border-box;
  padding-top: 60px; }

#navbar-logo {
  height: 30px; }

#navbar-items {
  float: right; }

#navbar-items > a {
  font-size: 13pt;
  color: #383c44;
  margin-left: 10px;
  text-decoration: none; }

#navbar-items > a:hover {
  color: #4679B2; }

.font-secondary {
  color: #d1495b; }

.font-soft {
  color: #777; }

.link {
  color: #383c44;
  text-decoration: underline; }

.link:hover {
  color: #4679B2; }

@font-face {
  font-family: 'Oxygen';
  src: url("/static/fonts/Oxygen-Regular.ttf"); }
html {
  height: 100%;
  margin: 0; }

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Oxygen'; }

#ng-view {
  min-height: 100%; }

a {
  text-decoration: none;
  color: #4679B2; }

a:hover {
  color: #d1495b; }

/*# sourceMappingURL=style.css.map */
